body {
    padding: 24px !important;
    background-color: aqua !important;
}
pre {
    background: var(--bs-tertiary-bg) !important;
    padding: 1rem !important;
    border-radius: 0.5rem !important;
}

